.modal.fade#about-modal
  .modal-dialog
    .modal-content
      .modal-header
        button.close(type='button', data-dismiss='modal', aria-label='Close')
          span(aria-hidden='true') &times;
        h4.modal-title About
      .modal-body
        p
          a(href='https://bitbucket.org/innot/rose-transformations') Translator source code
          span . Get description, installation guide, request features.
        p
          a(href='https://bitbucket.org/innot/looptransformer-frontend') Repository with this site
          span . Fork it!
        p.
          Created by Maxim Baranov
          &lt;innotkauker|at|yandex|dot|com&gt;.


